@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', system-ui;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  border-left: 1px solid #ccc;
  transition: 0.2s all ease-in-out;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

html{
  scroll-behavior: smooth !important;
}

section.card-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
}